/* sticky inarticle navigation */

.fornav {	
	float: right;	
}

nav.bs-docs-sidebar {
	
}

.affix-top {
	margin-top: 400px;
}

nav.bs-docs-sidebar.affix {
	margin-top: 0;
	position: fixed!important;
}

@media (max-width:991px) {
	.fornav {
		display: none;
	}
}


/* Headings */

h1 {
	font-family: albert;
	font-size: 28px;
}

h2 {
	font-size: 21px;
}

h3{
	font-size: 17px;
}


/* Bootstrap tabs */

.navwraper {
	padding-left: 0;
}

@media (min-width:992px) {
	li.mobile-navigation {
		display: none;
	}
}


/* Open Access Label */

div.access-review {
	margin-top: 20px;
}

p.license-access, p.reviewed {
	display: inline-block;
	font-family: albert;
	font-size: 10px;
	text-transform: uppercase;
}

p.license-access {
	padding-right: 10px;
}


/* pop-ups */

a.ref-tip {
	cursor: pointer;
	white-space: nowrap;
}

a.btn.btn-info {
	padding: 0 6px 0 6px;
	border: 0;
	background: rgba(91, 192, 222, 0.2);
	color: black;
}

div.article-text {
	line-height: 1.6;
}